GROQ_API_KEY =gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GROQ_API_KEY_2=gsk_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX   # for reserve llm
COHERE_API_KEY=CIyXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TAVILY_API_KEY=tvly-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
REDIS_URL=redis://:jee_secret@localhost:6379                # when running on docker 
OAUTH_REDIRECT_URI=http://localhost:8501/oauth2callback
GOOGLE_APPLICATION_CREDENTIALS=./secrets/XXXXXXXXXXXXXXXXXXXXXX.json
